* {
    margin: 0px;
    padding: 0px;
}

ul {
    padding-left: 15px;
}

#wrapper {
    margin: 0px auto;
    position: relative;
}

.block {
    margin-bottom: 15px;
    padding: 5px;
}
.clear {
    clear: both;
}

#info {
    font-size: 0.8em;
    padding: 0px;
    margin: 0px;
}

.float {
    float: left;
    margin-right: 15px;
}
.hide {
    display: none;
}

.player_list {
    list-style-type: none;
}
.player_list li {
    margin: 3px;
    padding: 3px;
}
.ui-state-highlight {
    height: 1.0em;
    line-height: 1.0em;
}

.submenu_left {
    float: left;
    margin-right: 5px;
    margin-left: 5px;
}

.submenu_right {
    float: right;
    margin-right: 5px;
    margin-left: 5px;
}

.info {
    margin-bottom: 25px;
}

.user_right_menu, .group_right_menu {
    display: none;
}

.right {
    margin: 2px;
    width: 200px;
    float: left;
}

#user_list {
    width: 49%;
    float: left;
}

.right div {
    margin-bottom: 1px;
    border-bottom: 1px solid #D0D0D0;
    padding-bottom: 1px;
}

#group_list {
    width: 49%;
    float: right;
}

#group_list .options {
    position: absolute;
    top: 2px;
    right: 0px;
}

.group {
    position: relative;
    padding-top: 5px;
    padding-bottom: 5px;
}

.group .name {

}

.group .description {

}

#char_container {
    position: relative;
}

.char_sortable li {
    float: left;
    width: 150px;
    height: 50px;
    list-style: none;
}

.char_box {
    float: left;
    width: 100px;
    height:20px;
    overflow: hidden;
}

#user_group_manager, #create_new_user_dialog {
    display: none;
}

.dropper, .user_dropper {
    width: 90%;
    border: 1px solid steelblue;
    list-style: none;
    text-align: center;
    font-weight: 900;
    margin: 3px;
}

#deactive_groups, #active_groups, #active_member, #all_member, #hidden_ranks, #active_ranks {
    width:42%;
    padding-left: 10px;
    padding-right: 10px;
}

#deactive_groups h3, #active_groups h3, #all_member h3, #active_member h3, #hidden_ranks h3, #active_ranks h3{
    /*    padding-bottom: 5px;*/
    height: 35px;
}

#group_member_manager #active_member, #active_ranks {
    float: left;
}
.float_right {
    float: right;
}
#group_member_manager #all_member {
    float: right;
}

.hidden {
    display: none;
}

.news {
    float: left;
    position: relative;
    width: 30%;
    margin: 5px;
}

.news input, .news textarea {
    border: 0px solid white;
}
.news h3 {
    margin-bottom: 15px;
}

.news .date {
    position: absolute;
    top: 15px;
    right: 5px;
}

.news .author {
    position: absolute;
    top: 30px;
    right: 5px;
}

.addon {
    width: 30%;
    position: relative;
}

.news .headline {
    margin-top: 10px;
}

.news .display_from {
    position: absolute;
    font-size: 0.8em;
    top: 0px;
    left: 20px;
    font-weight: 900;
}

.news .display_to {
    position: absolute;
    font-size: 0.8em;
    top: 0px;
    left: 120px;
    font-weight: 900;
}

.addon .menu_btn {
    position: absolute;
    top: 3px;
    right: 3px;
}

#rooster_menu .auto_insert {
    position: absolute;
    top: 5px;
    right: 5px;
}
