<footer>
    <div class="row">
        <div class="columns small-6">
            &copy; {{ "now"|date("Y") }} Mesa (Daniel Langemann)
        </div>
        <div class="columns small-6">
            <a href="{{ Router.generate('impressum') }}">Impressum</a> |
            <a href="http://www.loot-manager.com/wiki/">Wiki</a>
        </div>
    </div>
</footer>
