<header>
    <div class="row">
        <div class="small-7 columns">
            <h2><a href="{{ Router.generate("frontpage") }}">Loot Manager</a></h2>
            <span class="slogan">Lorem Ipsum bla bla bal</span>
        </div>
        <div class="small-5 columns">
            <ul class="navigation">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">Admin</a>
                </li>
                <li>4</li>
                <li>5</li>
            </ul>
        </div>
    </div>
</header>
<div class="row">
    <div class="small-12 columns">
        <ul class="breadcrumbs">
            <li><a href="#">Home</a></li>
            <li><a href="#">Features</a></li>
            <li class="unavailable"><a href="#">Gene Splicing</a></li>
            <li class="current"><a href="#">Cloning</a></li>
        </ul>
    </div>
</div>