body {
    font-family: tahoma;
    font-size: 0.9em;
}

a {
    color: steelblue;
    text-decoration: none;
    font-weight: 900;
}

.border_light {
    border: 1px solid lightgrey;
}

.border_dark {
    border: 1px solid #999999;
}

.block .headline {
    background-color: #F0F0F0;
}

#copy , #copy a{
    color: lightgray;
    text-decoration: none;
}
.block, .player_list li {
    box-shadow: 2px 2px 15px lightgrey;
    -moz-box-shadow: 2px 2px 15px lightgrey;
    -moz-border-radius: 4px;
    -webkit-box-shadow: 2px 2px 15px lightgrey;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    -ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(color=#AAAAAA, offx=2, offy=2)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#AAAAAA')";
  /* IE 8: yes, it's ugly but it has to be on one line. :-( */
/*        -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='white') progid:DXImageTransform.Microsoft.Alpha(opacity=50)";*/

    /* For IE 5.5 - 7 */
/*    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#AAAAAA');*/
}

.player_list li {
    background-color: white;
    font-size: 0.9em;
}
.submenu_left, .submenu_right , #create_new_user_dialog .block,
#create_new_group_dialog .block, #admin_edit_user .block {
    text-align: center;
}

.submenu_left h3,.submenu_right h3 {
    color: steelblue;
    text-align: center;
    margin-bottom: 5px;
    margin-top: -5px;
    font-size: 1em;
}

.info {
    font-size: 0.8em;
    color: #C0C0C0;
}

.right {
    border: 1px solid steelblue;
}

.right h3 {
    color: steelblue;
    text-align: center;
}

.highlight {
    background-color: #DDEEFF;
    color: black;
}

.user .email, .user .groups {
    font-size: 0.8em;
}

.user .last_login {
    font-size: 0.75em;
}

#create_new_group_dialog textarea{
    width: 99%;
    height: 100px;
}
#create_new_user_dialog, #create_new_group_dialog {
    font-size: 1.2em;
}

.center {
    text-align: center;
}

#deactive_groups, #active_groups, #all_member, #active_member {
    border: 1px solid #CCDDFF;
}

#deactive_groups h3, #active_groups h3, #all_member h3, #active_member h3 {
    color: steelblue;
    font-size: 0.9em;
    text-align: center;
}

.description {
    color: #999999;
}

.news {
    border: 1px solid steelblue;
}

.news .date, .news .author, .news .display_from, .news .display_to {
/*    color: #C0C0C0;*/
    color: #999999;
}
.news h3 {
    color: red;
}

.news .content {
/*    font-weight: 800;*/
}

.error {
    color: red;
}

.alignCenter {
    text-align: center;
}
.news .options {
    box-shadow: 2px 2px 15px lightgrey;
    -moz-box-shadow: 2px 2px 15px lightgrey;
/*    -moz-border-radius: 4px;*/
    -webkit-box-shadow: 2px 2px 15px lightgrey;
/*    -webkit-border-radius: 4px;*/
/*    -khtml-border-radius: 4px;*/
/*    border-radius: 4px;*/
    background-color: white;
    -ms-filter:"progid:DXImageTransform.Microsoft.DropShadow(color=#333333, offx=2, offy=2)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#AAAAAA')";
    /* For IE 5.5 - 7 */
/*    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#AAAAAA');*/
}